{% extends 'base.html.twig' %}

{% block title %}Détail du Stagiaire
{% endblock %}

{% block body %}
	<div class="wrapper">
		<div class="session-list-container wrapper-col">
			<h4>Détail du Stagiaire</h4>
			<p>Nom :
				{{ stagiaire.nom }}</p>
			<p>Prénom :
				{{ stagiaire.prenom }}</p>
			<p>Date de naissance :
				{{ stagiaire.dateNaissance|date('d-m-Y') }}</p>
			<p>Sexe :
				{{ stagiaire.sexe == 1 ? 'Masculin' : 'Féminin' }}</p>
			<p>Email :
				{{ stagiaire.email }}</p>
			<p>Ville :
				{{ stagiaire.ville }}</p>
			<p>Téléphone :
				{{ stagiaire.telephone }}</p>
		</div>

		<div class="session-list-container wrapper-col">
			<h4>Sessions inscrites</h4>
			<ul>
				{% for sessionWithPlaces in sessionsWithRemainingPlaces %}
					{% set session = sessionWithPlaces.session %}
					{% set placesRestantes = sessionWithPlaces.placesRestantes %}
					<li>
						<a href="{{ path('session_detail', {'id': session.id}) }}">
							{{ session.intitule }}
							:
							<br>
							Du
							{{ session.dateDebut|date('d-m-Y') }}
							au
							{{ session.dateFin|date('d-m-Y') }}
							|
							{{ session.formateur.nom }}
							{{ session.formateur.prenom }}
							|
							 ({{ placesRestantes }}
							places restantes)
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
