{% extends 'base.html.twig' %}

{% block title %}Détail du Stagiaire
{% endblock %}

{% block body %}
	<div class="wrapper">
		<div class="session-list-container wrapper-col">
			<h4>Détail du Stagiaire</h4>
			<p>Nom :
				{{ stagiaire.nom }}</p>
			<p>Prénom :
				{{ stagiaire.prenom }}</p>
			<p>Date de naissance :
				{{ stagiaire.dateNaissance|date('d-m-Y') }}</p>
			<p>Email :
				{{ stagiaire.email }}</p>
			<p>Ville :
				{{ stagiaire.ville }}</p>
			<p>Téléphone :
				{{ stagiaire.telephone }}</p>
		</div>

		<div class="session-list-container wrapper-col">
			<h4>Sessions inscrites</h4>
			<ul>
				{% for inscription in stagiaire.inscriptions %}
					<li>
						<a href="{{ path('session_detail', {'id': inscription.session.id}) }}">
							{{ inscription.session.intitule }}
							- du
							{{ inscription.session.dateDebut|date('d-m-Y') }}
							au
							{{ inscription.session.dateFin|date('d-m-Y') }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
