{% extends 'base.html.twig' %}

{% block title %}Liste des Stagiaires
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1>Liste des Stagiaires</h1>

		<ul>
			{% for stagiaire in stagiaires %}
				<li>
					<a href="{{ path('stagiaire_detail', { 'id': stagiaire.id }) }}">
						{{ stagiaire.nom }}
						{{ stagiaire.prenom }}
					</a>
				</li>
			{% endfor %}
		</ul>

		<h2>Ajouter un Stagiaire</h2>
		<div class="stagiaire-form-container">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
