{% extends 'base.html.twig' %}

{% block title %}Liste des Stagiaires
{% endblock %}

{% block body %}
	<div class="wrapper">
		<div class="session-list-container wrapper-col">
			<h4>Liste des Stagiaires</h4>
			<ul>
				{% for stagiaire in stagiaires %}
					<li class="delete-item">
						<a href="{{ path('stagiaire_detail', { 'id': stagiaire.id }) }}">
							{{ stagiaire.nom }}
							{{ stagiaire.prenom }}
						</a>
						<form method="post" action="{{ path('stagiaire_delete', {'id': stagiaire.id}) }}" style="display:inline;" class="delete-form">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stagiaire.id) }}">
							<button class="btn btn-danger btn-sm" type="submit">-</button>
						</form>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="session-list-container wrapper-col">
			<h4>Ajouter un Stagiaire</h4>
			<div class="stagiaire-form-container">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
