{% extends 'base.html.twig' %}

{% block title %}Détails de la Session
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1>Détails de la Session</h1>
		<p>Intitulé :
			{{ session.intitule }}</p>
		<p>Date de début :
			{{ session.dateDebut|date('d-m-Y') }}</p>
		<p>Date de fin :
			{{ session.dateFin|date('d-m-Y') }}</p>
		<p>Nombre de places totales :
			{{ session.nbPlacesTotales }}</p>
		<p>Formateur :
			{{ session.formateur.nom }}
			{{ session.formateur.prenom }}</p>

		<h2>Stagiaires inscrits</h2>
		<ul>
			{% for inscription in session.inscriptions %}
				<li>{{ inscription.stagiaire.nom }}
					{{ inscription.stagiaire.prenom }}</li>
			{% endfor %}
		</ul>

		<h2>Modules programmés</h2>
		<ul>
			{% for programme in session.programmes %}
				<li>{{ programme.module.titre }}
					({{ programme.nbJours }}
					jours)</li>
			{% endfor %}
		</ul>

		<h2>Ajouter un stagiaire</h2>
		<div>
			{{ form_start(session_form) }}
			{{ form_widget(form) }}
			{{ form_end(session_form) }}
		</div>
	</div>
{% endblock %}
