{% extends 'base.html.twig' %}

{% block body %}
	<section class="wrapper">
		<div class="session-list-container wrapper-col">
			<h4>Liste des Sessions</h4>
			{% if sessions %}
				<ul>
					{% for session in sessions %}
						<li class="delete-item">
							<a href="{{ path('session_detail', {'id': session.id}) }}">
								{{ session.intitule }}
								- du
								{{ session.dateDebut|date('d-m-Y') }}
								au
								{{ session.dateFin|date('d-m-Y') }}
							</a>
							<form method="post" action="{{ path('session_delete', {'id': session.id}) }}" style="display:inline;" class="delete-form">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ session.id) }}">
								<button class="btn btn-danger btn-sm" type="submit">-</button>
							</form>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>Aucune session disponible.</p>
			{% endif %}
		</div>

		<div class="session-list-container wrapper-col">
			<h4>Ajouter une Session</h4>
			{{ form_start(session_form) }}
			{{ form_widget(session_form) }}
			{{ form_end(session_form) }}
		</div>
	</section>
{% endblock %}
