{% extends 'base.html.twig' %}

{% block body %}
	<section class="wrapper">

		<div class="session-list-container wrapper-col">
			<h4>Liste des Sessions</h4>
			{% if sessions %}
				<ul>
					{% for session in sessions %}
						<li>
							<a href="{{ path('session_detail', {'id': session.id}) }}">
								{{ session.intitule }}
								- du
								{{ session.dateDebut|date('d-m-Y') }}
								au
								{{ session.dateFin|date('d-m-Y') }}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>Aucune session disponible.</p>
			{% endif %}
		</div>

		<div class="session-list-container wrapper-col">
			<h4>Ajouter une Session</h4>
			{{ form_start(session_form) }}
			{{ form_widget(session_form) }}
			{{ form_end(session_form) }}
		</div>
	</section>

	{% block javascripts %}{% endblock %}

{% endblock %}
