{% extends 'base.html.twig' %}

{% block title %}Liste des Modules
{% endblock %}

{% block body %}
	<section class="wrapper">
		<div class="session-list-container wrapper-col">
			<h4>Liste des Modules</h4>
			<div class="module-list-container">
				<ul class="module-list">
					{% for module in modules %}
						<li class="delete-item">
							{{ module.titre }}
							({{ module.categorie.nom }})
							<form method="post" action="{{ path('module_delete', {'id': module.id}) }}" style="display:inline;" class="delete-form">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ module.id) }}">
								<button class="btn btn-danger btn-sm" type="submit">-</button>
							</form>
						</li>
					{% else %}
						<li>Aucun module disponible</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="session-list-container wrapper-col">
			<h4>Ajouter un Module</h4>
			<div class="module-form-container">
				{{ form_start(module_form) }}
				{{ form_widget(module_form) }}
				{{ form_end(module_form) }}
			</div>
		</div>
	</section>
{% endblock %}
